build/
dist/
CMakeFiles/
Testing/
.cmake/

.gitconfig
config.json

CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
DartConfiguration.tcl
Makefile
compile_commands.json
CMakePresets.json
CMakeUserPresets.json

conan_toolchain.cmake
cmakedeps_macros.cmake
conandeps_legacy.cmake
conanbuild.sh
conanrun.sh
conanbuildenv-*.sh
conanrunenv-*.sh
deactivate_conanbuild.sh
deactivate_conanrun.sh
*-config.cmake
*-config-version.cmake
*-Target-release.cmake
*-release-x86_64-data.cmake
*Targets.cmake
*Config.cmake
*ConfigVersion.cmake
Find*.cmake

.cache/
.clangd
.clang*

*.o
*.a
*.so
*.dylib
music_bot
*.ps1

.vscode/
.idea/
*.swp
*.swo
*~
.github/

*.log
*.tmp
*.pcm
*.raw

.DS_Store
Thumbs.db